<% if @user.name.last != "s" %>
    <% possessive_name = @user.name + "'s" %>
<% else %>
    <% possessive_name = @user.name + "'"%>
<% end %>

<h1 class="new"><%= possessive_name %><span class="logo-font"> PetMinder</span> Account</h1>
<div class="member-info">
    <p><%= @user.phone %></p>
    <p><%= @user.email %></p>
</div>
<div class="pet-info">
    <h2>Pet Information</h2>
    <% if @user.pets.count == 0 %>
        <p class="center"><%= @user.name %> has no pets currently.</p>
        <p class="center">They should go adopt one!</p>
        <br />
        <h3 class="center"><a href="/pets/new">Add a New Pet</a></h3>
    <% else %>
        <% if current_user == @user %>
            <h4 class="center">To edit a pet, click on their name.</h4>
            <h2></h2>
        <% end %>
            <% @user.pets.each do |p|%>
            <span class="pet-info-name logo-font"><img src="/images/dog-tag.png"><a href="/pets/<%= p.id %>/edit"><%= p.name %></a></span>
                <ul>
                    <li><span class="pet-info-label">Breed:</span> <%= p.breed %></li><br />
                    <li><span class="pet-info-label">Color:</span> <%= p.color %></li><br />
                    <li><span class="pet-info-label">Feeding Instructions:</span> <%= p.feeding_instructions %></li><br />
                    <li><span class="pet-info-label">Medications:</span> <%= p.medications %></li><br />
                </ul>
                <h2></h2>
            <% end %>
            <h3 class="center"><a href="/pets/new">Need to Add a New Pet?</a></h3>
    <% end %>
</div>
